Allgemein/Messagebox/Test.exe
Allgemein/ObServer/__history/
Allgemein/Units/__history/
Boerse/Boerse.zip
Boerse/bin/Boerse.exe
Boerse/dcu/
Boerse/source/__history/
Boerse/source/allgemein/__history/
Boerse/source/db/__history/
Cloud/GoogleDrive/SimpleAccess/source/__history/
Cloud/GoogleDrive/SimpleAccess/source/Win32/
Crazy Tribes 2/Brückenbau/__history/
Crazy Tribes 2/Brückenbau/dcu/
DeleteExe/source/__history/
DokuOrga/Allgemein/__history/
DokuOrga/DBExport/__history/
DokuOrga/DBObj/__history/
DokuOrga/DBObj/BaseStruk/__history/
DokuOrga/dcu/
DokuOrga/Formulare/__history/
DokuOrga/Frame/__history/
DokuOrga/Frame/Konfig/__history/
DokuOrga/Komponenten/__history/
DokuOrga/SyntaxHighlighter/__history/
DokuOrga/SyntaxHighlighter/XMLSyntaxHighlighter/__history/
OrdnerAutomAnlegen/__history/
OrdnerAutomAnlegen/Allgemein/__history/
OrdnerAutomAnlegen/Form/__history/
OrdnerAutomAnlegen/Objekt/__history/
OrdnerAutomAnlegen/Win32/Debug/
Ordnervergleich/__history/
Ordnervergleich/Allgemein/__history/
Ordnervergleich/Formular/__history/
Ordnervergleich/Frame/__history/
Ordnervergleich/Objekt/__history/
Ordnervergleich/Win32/
