Allgemein/Messagebox/Test.exe
Allgemein/ObServer/__history/
Allgemein/Units/__history/
Boerse/Boerse.zip
Boerse/bin/Boerse.exe
Boerse/dcu/
Boerse/source/__history/
Boerse/source/allgemein/__history/
Boerse/source/db/__history/
