Allgemein/Messagebox/Test.exe
Allgemein/ObServer/__history/
Allgemein/Units/__history/
Boerse/Boerse.zip
Boerse/bin/Boerse.exe
Boerse/dcu/
Boerse/source/__history/
Boerse/source/allgemein/__history/
Boerse/source/db/__history/
Cloud/GoogleDrive/SimpleAccess/source/__history/
Cloud/GoogleDrive/SimpleAccess/source/Win32/
Crazy Tribes 2/Brückenbau/__history/
Crazy Tribes 2/Brückenbau/dcu/
DeleteExe/source/__history/
DokuOrga/Allgemein/__history/
DokuOrga/DBExport/__history/
DokuOrga/DBObj/__history/
DokuOrga/DBObj/BaseStruk/__history/
DokuOrga/dcu/
DokuOrga/Formulare/__history/
DokuOrga/Frame/__history/
DokuOrga/Frame/Konfig/__history/
DokuOrga/Komponenten/__history/
DokuOrga/SyntaxHighlighter/__history/
DokuOrga/SyntaxHighlighter/XMLSyntaxHighlighter/__history/
OrdnerAutomAnlegen/__history/
OrdnerAutomAnlegen/Allgemein/__history/
OrdnerAutomAnlegen/Form/__history/
OrdnerAutomAnlegen/Objekt/__history/
OrdnerAutomAnlegen/Win32/Debug/
Ordnervergleich/__history/
Ordnervergleich/Allgemein/__history/
Ordnervergleich/Formular/__history/
Ordnervergleich/Frame/__history/
Ordnervergleich/Objekt/__history/
Ordnervergleich/Win32/
Syntaxhighlighter/Formulare/__history/
Syntaxhighlighter/Formulare/Win32/
Syntaxhighlighter/Frame/__history/
Syntaxhighlighter/Model/__history/
Syntaxhighlighter/Objekt/__history/
TSI/csv/Eigene/*.csv
TSI/csv/Eigene_alt/
TSI/csv/Schnittstelle/*.csv
TSI/csv/Schnittstelle_alt/
TSI/Kurse Laden/DBObj/__history/
TSI/Kurse Laden/DBObj/Base/__history/
TSI/Kurse Laden/Form/__history/
TSI/Kurse Laden/Form/Win32/
TSI/Kurse Laden/Frame/__history/
TSI/Kurse Laden/Objekt/__history/
TSI/Server/Allgemein/__history/
TSI/Server/DBObj/__history/
TSI/Server/DBObj/Base/__history/
TSI/Server/Form/__history/
TSI/Server/Form/Win32/
TSI/Server/Objekt/__history/
TSI/TSI/Allgemein/__history/
TSI/TSI/DBObj/__history/
TSI/TSI/DBObj/Base/__history/
TSI/TSI/Form/__history/
TSI/TSI/Form/Win32/
TSI/TSI/Frame/__history/
TSI/TSI/Objekt/__history/
TSI2/Ansicht/TSIAnsicht.exe
TSI2/Ansicht/__history/
TSI2/Ansicht/DB/__history/
TSI2/Ansicht/Feld/__history/
TSI2/Ansicht/Form/__history/
TSI2/Ansicht/Frame/__history/
TSI2/Ansicht/MySql/__history/
TSI2/Ansicht/Objekt/__history/
TSI2/Ansicht/Win32/
TSI2/Einstellung/DBObj/__history/
TSI2/Einstellung/DBObj/Base/__history/
TSI2/Einstellung/Form/__history/
TSI2/Einstellung/Form/Win32/
TSI2/Einstellung/Objekt/__history/
TSI2/Test/__history/
TSI2/Test/Win32/
TSI2/Einstellung/Einstellung.exe
TSI2/Einstellung/Form/Einstellung.exe
TSI2/Kurse Laden/DBObj/__history/
TSI2/Kurse Laden/DBObj/Base/__history/
*.~1~
TSI2/Kurse Laden/Form/__history/
TSI2/Kurse Laden/Form/Win32/Debug/
TSI2/Kurse Laden/Frame/__history/
TSI2/Kurse Laden/Objekt/__history/
TSI2/Server/DBObj/__history/
TSI2/Server/Form/__history/
TSI2/Server/Form/Win32/Debug/
TSI2/Server/Objekt/__history/
TSI3/Allgemein/__history/
TSI3/DBObj/__history/
TSI3/DBObj/Base/__history/
TSI3/TSI/Ansicht/Feld/__history/
TSI3/TSI/Ansicht/Form/__history/
TSI3/TSI/Ansicht/Frame/__history/
TSI3/TSI/Ansicht/Objekt/__history/
TSI3/TSI/Ansicht/Win32/Debug/
TSI3/TSI/Einstellung/Form/__history/
TSI3/TSI/Einstellung/Form/Win32/Debug/
TSI3/TSI/Server/DBObj_/__history/
TSI3/TSI/Server/Form/__history/
TSI3/TSI/Server/Form/Win32/Debug/
TSI3/TSI/Server/Objekt/__history/
*.txt
TSI3/TSI/Ansicht/TSIAnsicht_.exe
TSI3/TSI/Ansicht/TSIAnsicht__.exe
TSI3/TSI/Ansicht/TSIAnsicht___.exe
Sqleditor/dcu/
Sqleditor/bin/SqlEditor.exe
Allgemein/Objekt/__history/
Web/Rio Webserverdienst/Client/__history/
Web/Rio Webserverdienst/Client/Win32/
Web/Rio Webserverdienst/Win32/
Web/Server/Source/__history/
Web/Server/Source/Form/__history/
Web/Server/Source/Objekt/__history/
Web/Server/Source/Win32/
Web/ServerUI/Source/__history/
Web/ServerUI/Source/Form/__history/
Web/ServerUI/Source/Objekt/__history/
Web/ServerUI/Source/Win32/
Web/Server/Source/Zip.Zip
Web/Rio Webserverdienst/__history/
Web/Client/Source/Objekt/__history/
Web/Client/Source/Form/__history/
Web/ServerUI/Source/ServerUI.exe
Web/ServerUI/Source/Webserver_save.xml
Web/ServerUI/Source/Webserver_copy.xml
Web/Server/Source/Webserver.exe
Web/Client/Source/WebClient.exe
Web/OPTIMACHANGELOG.FDB
Web/Client/Source/WebClientRio.exe
Web/Client/Source/Win32/
Web/Client/Source/__history/
Web/ClientUI/Source/__history/
Web/ClientUI/Source/Form/__history/
Web/ClientUI/Source/Objekt/__history/
Web/ClientUI/Source/Win32/
Web/WebQuery/__history/
Web/ClientUI/Source/ClientUI.exe
Amazon/AmazonSmartwatch/dcu/
__history/
DokuOrgaWeb/dcu/
DokuOrgaWeb2/dcu/
Smartwatch/dcu/
Amazon/AmazonSmartwatch/bin/
Amazon/AmazonSmartwatch/AmzonSmartwatchGroup.groupproj.local
Amazon/AmazonSmartwatch/AmazonSmartwatch.identcache
Amazon/AmazonSmartwatch/AmazonSmartwatch.dproj.local
DokuOrgaWeb/bin/DokuOrgaWeb.exe
DokuOrgaWeb2/bin/ClientUI.exe
DokuOrgaWeb2/bin/DokuOrgaWeb.exe
Smartwatch/Smartwatch.dproj.local
Smartwatch/Smartwatch.identcache
Smartwatch/bin/Smartwatch.exe
